{% extends 'www/base.html' %}
{% block title %}index{% endblock %}
{% block content %}
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  {% for person in contacts %}
  <tr>
    <td>{{ person.first_name }}</td>
    <td>{{ person.last_name }}</td>
    <td>{{ person.phone }}</td>
    <td>{{ person.email }}</td>
    <td>
      <a href="{% url 'contact' person.id %}">Update</a>
    </td>
    <td>
      <form action="{% url 'delete_contact' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="contact_id" value="{{ person.id }}">
        <input type="submit" value="delete">
      </form>
    </td>
  </tr>
  {% endfor %}
</table><br>
<form action="{% url 'new_contact' %}">
  {% csrf_token %}
  <input type="submit" value="create new contact">
</form>
{% endblock %}
