{% extends 'www/base.html' %}
{% block title %}update{% endblock %}
{% block content %}
<h1>Update contact</h1>
<form action="{% url 'update_contact' %}" method="post">
  {% csrf_token %}
  <input type="text" name="first_name" value="{{ contact.first_name}}">
  <input type="text" name="last_name" value="{{ contact.last_name }}">
  <input type="text" name="phone" value="{{ contact.phone }}">
  <input type="email" name="email" value="{{ contact.email }}">
  <input type="hidden" name="contact_id" value="{{ contact.id }}">
  <input type="submit" value="Submit">
</form>
{% endblock %}

